<!--<h2>{{rune.rune}} ({{rune.name | uppercase}})</h2>

<div><span>{{rune.name}} translates to : {{rune.translation}} in Old Norse</span></div>
<div><span>{{rune.rune}} represents {{rune.value}}</span></div>

-->
<h2>list of runes in Younger Fuþark</h2>

<div id = "interface">

      <h1>Younger Fuþark</h1>
      <div class = "runes">
            
            <section *ngFor ="let rune of runesYounger"  routerLink = "/detail/{{rune.id}}">
            
            
                  <h3 class = "badge">{{rune.rune}}


                  </h3>
            </section>

      </div>
</div>


<div id = "interface">
      <h1>Elder Fuþark</h1>
      <div class = "runes">
            
            <section *ngFor ="let rune of runesElder"  routerLink = "/detail/{{rune.id}}">
            
            
                  <h3 class = "badge">{{rune.rune}}


                  </h3>
            </section>

      </div>
</div>
      
      <!--<app-runes-detail [rune]="selectedRune" id = "rune"></app-runes-detail>-->
      

